apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  destination:
    namespace: traefik
    server: https://kubernetes.default.svc
  project: default
  source:
    path: traefik-chart
    repoURL: "git@github.com:holtje/hive-config.git"
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
