name: labels

on:
  push:
    branches:
      - "main"
    paths:
      - ".github/labels.yaml"
      - ".github/workflows/labels.yaml"
  schedule:
    - cron: "53 1 * * 0"

jobs:
  labeler:
    runs-on: ubuntu-20.04
    steps:
      - # https://github.com/actions/checkout
        name: Checkout
        uses: actions/checkout@v4
      - # https://github.com/crazy-max/ghaction-github-labeler
        name: Run Labeler
        if: success()
        uses: crazy-max/ghaction-github-labeler@v4.1.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/labels.yaml
