---
name: Lint Code Base

# Documentation:
# https://github.com/marketplace/actions/trunk-check
# https://help.github.com/en/articles/workflow-syntax-for-github-actions

on: [push, pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: Trunk
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2.5.0

      - name: Trunk Check
        uses: trunk-io/trunk-action@v1
# EOF
